<ul class="list-group mb-3">
  {% for cartitem in cartD %}
  <li class="list-group-item d-flex justify-content-between lh-sm">
    <div>
      <h6 class="my-0">{{cartitem.itemsDetailsId.itemsId.name}}</h6>
      <small class="text-body-secondary"
        >{{cartitem.itemsDetailsId.itemsId.name}}-{{cartitem.itemsDetailsId.color}}</small
      >
      <small class="text-body-secondary">{{cartitem.qty}}</small>
    </div>
    <div>
      <span class="text-body-secondary"
        >${{cartitem.itemsDetailsId.price}}</span
      >
      <a
        class="btn btn-danger"
        href="{% url 'remove_from_cart' id=cartitem.id %}"
        >remove</a
      >
    </div>
  </li>
  {% endfor %}
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (SA)</span>
    <strong>${{total}}</strong>
  </li>
</ul>
