{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row text-center d-flex fs-3 justify-content-center mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-phone text-center"> </i>
          <a href="/showphone" class="nav-link"> <h2>phones</h2></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="">
        <div class="card-body">
          <i class="bi bi-book text-center"> </i>
          <a href="/showBooks" class="nav-link"><h2>books</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center d-flex justify-content-center mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-tv text-center"> </i>
          <a href="/showphone" class="nav-link"><h2>TV</h2></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-clock text-center"> </i>
          <a href="/showphone" class="nav-link"><h2>watches</h2></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
